version: '3.8'

services:
  web:
    build: .
    command: gunicorn wosvcore.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/uploads
    ports:
      - "8000:8000"

  nginx:
    build: ./nginx
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/uploads
    ports:
      - "80:80"
    depends_on:
      - web
volumes:
  static_volume:
  media_volume: