{% extends 'layouts/dashboard.html' %}
{% load static crispy_forms_filters %}
{% block content %}

    {% include 'partials/_messages.html' %}
    <div class="col bg-body rounded shadow-sm d-flex justify-content-center align-items-center p-15 p-lg-18 ">
        <!--begin::Wrapper-->
        <div class="w-100">
            <!--begin::Heading-->
            <div class="pb-10 pb-lg-15">
                <!--begin::Title-->
                <h2 class="fw-bold text-dark">Change Password</h2>
                <!--end::Title-->
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}

                    <div class="text-center mt-5">
                        <!--begin::Submit button-->
                        <button type="submit" id="submitBtn"
                                class="btn btn-lg btn-primary w-100 mb-5">
                            <span class="indicator-label">Kaydet</span>
                            <span class="indicator-progress">Lütfen Bekleyin...
									<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                        </button>
                        <!--end::Submit button-->
                    </div>
                </form>
            </div>
            <!--end::Heading-->


        </div>
        <!--end::Wrapper-->
    </div>
{% endblock %}