{% extends "layouts/auth.html" %}
{% load static crispy_forms_filters %}
{% block content %}
    <!--begin::Card-->
    <div class="bg-body d-flex flex-column align-items-stretch flex-center rounded-4 w-md-600px p-20">
        <!--begin::Wrapper-->
        <div class="d-flex flex-center flex-column flex-column-fluid px-lg-10 pb-15 pb-lg-20">
            <!--begin::Form-->
            <form class="form w-100" novalidate="novalidate" method="post" action="">
                <!--begin::Heading-->
                <div class="text-center mb-11">
                    <!--begin::Title-->
                    <h1 class="text-gray-900 fw-bolder mb-3">Password Reset</h1>
                    <!--end::Title-->
                    <!--begin::Subtitle-->
                    <div class="text-gray-500 fw-semibold fs-6"></div>
                    <!--end::Subtitle=-->
                </div>
                <!--begin::Heading-->

                {% include 'partials/_messages.html' %}

                {% csrf_token %}
                {{ form|crispy }}

                <!--begin::Submit button-->
                <div class="d-grid mb-10">
                    <button type="submit" id="kt_sign_in_submit" class="btn btn-primary">
                        <!--begin::Indicator label-->
                        <span class="indicator-label">Reset Password</span>
                        <!--end::Indicator label-->
                        <!--begin::Indicator progress-->
                        <span class="indicator-progress">Please wait...
										<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                        <!--end::Indicator progress-->
                    </button>
                    <a href="{% url 'accounts:login' %}" class="btn btn-danger mt-4">Cancel</a>
                </div>
                <!--end::Submit button-->
                <!--begin::Sign up-->

                <!--end::Sign up-->
                <!--begin::Sign up-->
                <div class="text-gray-500 text-center fw-semibold fs-6">You still don't have an account?
                    <a href="{% url 'accounts:register' %}" class="link-primary">Sign In</a></div>
                <!--end::Sign up-->
            </form>
            <!--end::Form-->
        </div>
        <!--end::Wrapper-->
 
    </div>
    <!--end::Card-->
{% endblock content %}

