{% load static mptt_tags %}
<nav class="navbar navbar-expand-lg navbar-main">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{% get_static_prefix %}common/img/lurora_logo.png" alt="logo" class="logo-img" style="height: 50px">
        </a>
        <div class="right-nav">
            {% if request.user.is_authenticated %}
                <a href="{% url 'accounts:profile' %}" class="btn btn--border">My Profile</a>
                <a href="{% url 'accounts:logout' %}" class="btn btn--border">Logout</a>

            {% else %}
                <a href="{% url 'accounts:login' %}" class="btn btn--border">
                    Login
                </a>
                <a href="{% url 'accounts:register' %}" class="btn btn--base">
                    Sign Up
                </a>
            {% endif %}

            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                </svg>
            </button>
        </div>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
             aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                    <img src="{% get_static_prefix %}frontend/images/logo/logo.svg" alt="logo" class="logo-img">
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="d-flex d-lg-none gap-4 pt-3 justify-content-center">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'accounts:logout' %}" class="btn btn--border">Logout</a>
                    <a href="{% url 'accounts:profile' %}" class="btn btn--border">Profile</a>
                {% else %}
                    <a href="{% url 'accounts:login' %}" class="btn btn--border">
                        Login
                    </a>
                    <a href="{% url 'accounts:register' %}" class="btn btn--base">
                        Sign Up
                    </a>
                {% endif %}

            </div>
            <div class="offcanvas-body align-items-center">
                <ul class="navbar-nav justify-content-center flex-grow-1">
                    {% recursetree header_menu %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ node.get_absolute_url }}"><span>{{ node.title }}</span></a>
                        </li>
                    {% endrecursetree %}

                    {#                    <li class="nav-item">#}
                    {#                        <a class="nav-link" href="about.html"><span>About Lurora</span></a>#}
                    {#                    </li>#}
                    {#                    <li class="nav-item">#}
                    {#                        <a class="nav-link" href="about.html"><span>How to Works?</span></a>#}
                    {#                    </li>#}
                    {#                    <li class="nav-item">#}
                    {#                        <a class="nav-link" href="about.html"><span>Features</span></a>#}
                    {#                    </li>#}

                </ul>
            </div>
        </div>
    </div>
</nav>